<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{.Title}}</title>
	</head>
	<body>
    {{/* 
    eq == 
    ne !=
    lt <
    le <=
    gt >
    ge >
    */}}
	<table>
		{{range $index, $element := .Hobbies}}
		<h1>{{$element}}</h1>
	{{else}}
		<h1>Anda Tidak Punya Hobby</h1>
	{{end}}

	{{/* {{range $index, $element := .Hobbies}}
		<h1>{{$index}}</h1>
		<tr>
			<th>Name</th>
			<td>{{.$element.Name}}</td>
		</tr>
		<tr>
			<th>Hobby</th>
			<td>{{$element}}</td>
		</tr>
	{{else}}
		<h1>Anda Tidak Punya Hobby</h1>
	{{end}} */}}
	</table>

		
	</body>
</html>
